//
//  Release.xcconfig
//  SereyIO
//
//  Created by Phanha Uy on 9/9/19.
//  Copyright © 2020 Serey IO. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//#include "Pods/Target Support Files/Pods-SereyIO/Pods-SereyIO.release_production.xcconfig"
//#include "Pods/Target Support Files/Pods-SereyIO/Pods-SereyIO.debug_production.xcconfig"

// Server URL
BASE_DOMAIN             = serey.io
API_URL                 = global-api.serey.io
KYC_URL                 = kyc.serey.io
CHAIN_URL               = api.serey.io
URL_PROTOCOL            = https:/$()/
NOTIFICATION_URL        = https:/$()/notification.serey.io

// APP INFO
app_name                = Serey.io
app_bundle              = io.serey.ios
app_version_name        = 1.0.0
app_version_code        = 18

INCLUDE_WALLET          = false
SHOW_REWARD             = false
