img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#editor {
    color: rgba(0,0,0,.87);
}

#editor[contenteditable] {
    caret-color: rgba(0, 161, 210, 1);
}

iframe {
    width: 100%;
    height: auto;
}
