<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213827604393-ffr8880g36ik78l7obfg4dk702q05245.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213827604393-ffr8880g36ik78l7obfg4dk702q05245</string>
	<key>API_KEY</key>
	<string>AIzaSyDP1AeMRGfANzY-jDvZctXtW49FgW9ds-I</string>
	<key>GCM_SENDER_ID</key>
	<string>213827604393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.serey.ios-dev</string>
	<key>PROJECT_ID</key>
	<string>serey-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>serey-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:213827604393:ios:ec95366c5ce3f32288feb8</string>
	<key>DATABASE_URL</key>
	<string>https://serey-dev.firebaseio.com</string>
</dict>
</plist>
