<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004906769589-gm7b0d0o0ktdac6l8dbknd3iumt6u22l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004906769589-gm7b0d0o0ktdac6l8dbknd3iumt6u22l</string>
	<key>API_KEY</key>
	<string>AIzaSyA6DWFPBCyVoOMdpPYPTLzewS_z9bZwfOc</string>
	<key>GCM_SENDER_ID</key>
	<string>1004906769589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.serey.ios</string>
	<key>PROJECT_ID</key>
	<string>serey-362df</string>
	<key>STORAGE_BUCKET</key>
	<string>serey-362df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004906769589:ios:5346533836395f6b98e2fc</string>
	<key>DATABASE_URL</key>
	<string>https://serey-362df.firebaseio.com</string>
</dict>
</plist>